.sort-cards {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: 25px;

  & span{
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
  }



  & button {
    cursor: pointer;
    border: none;
    background: inherit;
  }

  .check-active svg path{
    fill: #4e4e4e;

    &:hover {
      fill: #516d50;
    }
  }

  .check-no-active svg path{
    fill: #78e36f;

    &:hover {
      fill: #516d50;
    }
  }
}